.main-header{
    background-color: var(--color-amarillo);
    
}

.main-navbar li{
    display: none;
   }

.logo{
    margin: 0 20px;
    margin-top: 20px;
    width: 150px;
   }

   .copy-header{
    padding-top: 10px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 15px;
  font-weight: normal;
    margin-top: 8px;
}

.buscador{
    margin-top: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.lupa{
    display: inline;
    border: 1px solid black;
    background-color: var(--color-grisclaro);
}


.fas{
    color: white;
    background-color: var(--color-celeste);
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.caja-burger{
    margin-bottom: 17px;
}


    
