.main-header{
    background-color: var(--color-amarillo);
    
}
 
.segundonav{
    padding-top: 18px;
}

.slogan{
    padding-top: 10px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 15px;
}

.buscador{
    
    margin-top: 15px;
    margin-left: 15px;
}


.lupa{
    display: inline;
    border: 1px solid black;
    background-color: var(--color-grisclaro);
}


.fas{
    color: white;
    background-color: var(--color-celeste);
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    margin: auto;
    margin-top: 16px;
}

.caja-burger{
    margin-bottom: 17px;
}


