main{
width: 90%;
margin: 0 15px;
margin-bottom: 20px;

}

body{
    background-color: var(--color-grisclaro);
}

.banner{
    margin-bottom: 10px;
    width: 100%;
    height: 100px
}

.titulos{
    margin-top: 20px;
    font-size: 23px;
    margin-bottom: 20px;
    color: var(--color-grisoscuro);
   
}

.precios{
    font-size: 18px;
    padding: 5px;
    font-weight: normal;
    margin-left: 9px ;
    width: 30%;
}


.desc{
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
    color: var(--color-verde);
    text-align: left;
    margin-top: 6px;
    width: 70%;
    margin-left: 15%;
}
.fa-truck.fa-solid{
    color: #39b54a;
    display: block;
    font-size: 16px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 4%;
    top: 81%;
    padding: 2%;
   }
  

.nombre-producto{
    color: var(--color-grisoscuro);
    font-size: 15px;
    margin-left: 12px;
    text-align: justify

}
.caja-descripcion{
    display: flex;
}
main section article{
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    
}
main section article img{
    border-bottom: 2px solid var(--color-grisclaro);
}




