main{
    background-color: var(--color-grisclaro);
    padding: 4px;
    margin: 1%
}


.titulos{
    font-size: 24px;
    margin-bottom: 10px;
}

.precios{
    font-size: 18px;
    padding: 5px;
    
}


.desc{
    font-size: 16px;
    padding-bottom: 8px;
    padding: 5px;
}

main section article{
    background-color: white;
}

main article{
    margin-bottom: 20px;
}


