.input-usuario{
    width: 76%;
   height: 30px;
   border: 1px solid white;
   border-radius: 5px;
   padding: 10px;
}

.input-contraseña{
    width: 76%;
   height: 30px;
   border: 1px solid white;
   border-radius: 5px;
   padding: 10px;
}

.boton-enviar{
    width: 76%;
    background-color: var(--color-celeste);
    color: #fff ;
    height: 30px;
    border: 1px solid var(--color-celeste);
    border-radius: 5px;

}

.boton-enviar:hover{
  transition-duration: 2s;
  background-color: #0022AA;

}

.formulario-login{
  display: flex;
  flex-direction: column;
  margin-left: 26%;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 17px;

}

.footer-login{
  margin-top: 18%;
}